@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
    @apply text-gray-100;
}

html,
body {
    @apply bg-slate-900;
}

.no-scroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.anchor {
    overflow-anchor: auto;
}
